@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: -apple-system, SpoqaHanSansNeo, sans-serif;
  letter-spacing: -0.05em;
}

canvas {
  letter-spacing: normal;
  letter-spacing: -0.035em;
}

@font-face {
  font-family: "SpoqaHanSansNeo";
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0;
  src: local("SpoqaHanSansNeo"),
    url("/fonts/SpoqaHanSansNeo-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "SpoqaHanSansNeo";
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0;
  src: local("SpoqaHanSansNeo"),
    url("/fonts/SpoqaHanSansNeo-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "SpoqaHanSansNeo";
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  src: local("SpoqaHanSansNeo"),
    url("/fonts/SpoqaHanSansNeo-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "SpoqaHanSansNeo";
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0;
  src: local("SpoqaHanSansNeo"),
    url("/fonts/SpoqaHanSansNeo-Light.woff2") format("woff2");
}

@font-face {
  font-family: "SpoqaHanSansNeo";
  font-weight: 100;
  font-style: normal;
  src: local("SpoqaHanSansNeo"),
    url("/fonts/SpoqaHanSansNeo-Thin.woff2") format("woff2");
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
